.container1 {
   display:flex;
}

.col {
    border-style: dotted;
    padding: 10px;
    margin-right: 30px;
}

img {
    height: 100px;
    
    
}

.padding {
    margin-right:2px;
    margin-left:2px;
}

.title {
    text-align: center;
}

.cat {
    
    
    display:flex;
}